{% load static %}
<!doctype html>
<html>

<head>
    <title>PathLab:About</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>

<body>
    <div class="pad12"> <img src="/static/img/lab.png" class="w75"> <span class="hd">Path Lab Ltd.</span>
    </div>
    <div class="nav bg8">
        <a href="/home">Home</a>
        <a href="/labtest">Lab Tests</a>
        <a href="/about">About Us</a>
        <a href="/contact">Contact Us</a>
    </div>
    <div class="pad">
        <div class="banner"><img src="/static/img/top-banner.png" alt="aboutUs">
            <div class="zv">
                <div>We make healthcare</div>
                <div>Understandable, Accessible and Affordable.</div>
            </div>
        </div>
        <h2 class="mv blubrdr">About Our Lab</h2>
        <div class="m"> Our Lab brings to you an online platform, which can be accessed for all your health needs. We are trying to make healthcare a hassle-free experience for you.</div>
        <br>
        <b>Our work and culture</b> We strongly believe that a great culture is an important ingredient for a startup’s success. Our culture promotes radical candour, fast paced iterations, collaboration and a flat hierarchy. Listed below are our core
        values that enshrine our culture.
        <br> <br>
        <b>Be the CEO - own outcomes</b> At one we believe that every individual has the power to drive impact and change. We encourage our team members to take ownership and charge not paying heed to organizational trappings. As a result individuals
        (and not just leaders) have the potential to drive big impact on our business and customers. <br> <br>
        <b>Done is better than perfect</b> We are highly experimental and data driven organization. As such we believe in shipping soon and often. We believe that in the long run failing fast beats all else. <br> <br>
        <b>Team and not individual</b> We believe in the power of the team. For us a superstar team is much more important than a superstar individual. <br> <br>
        <b>Accountability with empathy</b> We believe that everyone can shine in an environment that’s right for them and we strive to help our team members discover that environment. Our communication philosophy is that of radical candor - Challenge
        Directly but Care Personally.
    </div>
    <div class="ftrnav pad bg8">
        <div class="cntf">
            <h3 class="blubrdr">Contact Us</h3>
            <b>Sagar Varshney</b><br><br> 12th Floor, Tower B, SAS Tower,<br> Medicity, Sector-38, Noida-122001.
            <br> Fax : +91 124 4234468
        </div>

        <ul class="tar mt50">
            <li><a href="/home">Home</a></li>
            <li><a href="/labtest">Lab Tests</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/contact">Contact Us</a></li>
    </div>

    <body>
    </body>

</html>