{% load static %}
<!doctype html>
<html>

<head>
    <title>PathLab:Contact</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <body>
</head>

<body>
    <div class="pad12"> <img src="/static/img/lab.png" class="w75"> <span class="hd">Path Lab Ltd.</span>
    </div>
    <div class="nav bg8">
        <a href="/home">Home</a>
        <a href="/labtest">Lab Tests</a>
        <a href="/about">About Us</a>
        <a href="/contact">Contact Us</a>
    </div>
    <div class="pad">
        <h2 class="blubrdr mv">PathLabs Ltd.</h2> 12th Floor, Tower B, SAS Tower,<br> Medicity, Sector-38,<br> Noida-122001.
        <br> Fax : +91 124 4234468
        <h5><b>Email : </b></h5> Customer.Care@lalpathlabs.com
        <h5><b>Website : </b></h5>
        www.lalpathlabs.com
        <h5><b>National Customer Care : </b></h5>
        011-3988-5050
    </div>

    <div class="ftrnav pad bg8">
        <div class="cntf">
            <h3 class="blubrdr">Contact Us</h3>
            <b>Sagar Varshney</b><br><br> 12th Floor, Tower B, SAS Tower,<br> Medicity, Sector-38, Noida-122001.
            <br> Fax : +91 124 4234468
        </div>

        <ul class="tar mt50">
            <li><a href="/home">Home</a></li>
            <li><a href="/labtest">Lab Tests</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/contact">Contact Us</a></li>
    </div>
</body>

</html>