{% load static %}
<!doctype html>
<html>

<head>
    <title>PathLab:Home</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>

<body>
    <div class="pad12"> <img src="/static/img/lab.png" class="w75"> <span class="hd">Path Lab Ltd.</span>
    </div>
    <h3>we'v resived your apointment request!we'll send you confirmatory email soon :). payments would be done on arrival.
    </h3>
    <div class="nav bg8">
        <a href="/home">Home</a>
        <a href="/labtest">Lab Tests</a>
        <a href="/about">About Us</a>
        <a href="/contact">Contact Us</a>
    </div>





    <div class="ftrnav pad bg8">
        <div class="cntf">
            <h3 class="blubrdr">Contact Us</h3>
            <b>Sagar Varshney</b><br><br> 12th Floor, Tower B, SAS Tower,<br> Medicity, Sector-38, Noida-122001.
            <br> Fax : +91 124 4234468
        </div>

        <ul class="tar mt50">
            <li><a href="/home">Home</a></li>
            <li><a href="/labtest">Lab Tests</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/contact">Contact Us</a></li>
    </div>

    <body>
    </body>

</html>